<%- include("header"); -%>
  <img id="error404" src="/img/404.gif" alt="mannetje dat hoofd vast heeft want de pagina werd niet gevonden (mental breakdown)">
  <h1>Error 404</h1>
  <p id="p404">De pagina <%= url%> die u zoekt werd niet gevonden, onze excuses!</p>
<%- include("footer"); -%>
