<%- include("header"); -%>
    <h1>Plan je bezoek</h1>
    <p>Kom je graag eens op bezoek om onze tentoonstellingen te bekijken? Geen probleem! <br>
    Het Design Museum Gent is makkelijk bereikbaar te voet, met de tram, met de bus of met de auto. Plan je bezoek op voorhand uit en bestel je tickets online voor een optimale ervaring. <br> <br>
    Tot dan!</p>
    <p><span class="vetgedrukt">INFO:</span></p>
    <p> <span class="vetgedrukt">Jan Breydelstraat 5 <br> 9000 Gent <br> +32 9 267 99 99 <br> museum.design@gent.be</span><br><span class="vetgedrukt2"> museum.design@gent.be</span></p><br>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1748.9073219538875!2d3.7180935160488198!3d51.05577456551391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c37140dd53c743%3A0x5bc373a2c5806a9c!2sJan%20Breydelstraat%205%2C%209000%20Gent!5e0!3m2!1snl!2sbe!4v1586954080079!5m2!1snl!2sbe" width="414" height="410" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<%- include("footer"); -%>
