<div class="footer">
  <footer>
    <p>© 2020 Noa Claes <br> <a href="https://claesnoaopdracht3.herokuapp.com">https://claesnoaopdracht3.herokuapp.com</a> </p>
  </footer>
</div>




<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
