<div class="footer">
  <footer>
    <p>© 2020 Noa Claes</p>
  </footer>
</div>




<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
