<%- include("header"); -%>
    <h1>Uitgelicht werk</h1>
    <div class="uitgelicht">
      <img src="<%=afbeeldingen[Math.floor((Math.random() * afbeeldingen.length))].imageURL %>"> %>
    </div>
    <h2>Design Museum Gent werkt thuis tot 3 mei 2020 <span class="meerlezen">lees meer...</span></h2>
    <h2>X-Ray in Fotografie, een tentoonstelling van Mathew Schwartz <span class="meerlezen">lees meer...</span></h2>
    <h2>Talking Letterheads Podcast, elke dag een nieuwe aflevering <span class="meerlezen">lees meer...</span></h2>
    <h2 id="onderste">Digitaal doeboekje, 5 opdrachten in X-Ray <span class="meerlezen">lees meer...</span></h2>
<%- include("footer"); -%>
